body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#zaglavlje {
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 310px;
    background: url(../slike/mainpozadina.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zaglavlje h1 {
    color: #ffffff;
    margin: 0;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}

#sadrzaj {
    background-color: #cdd0d3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
    min-height: 500px;
    max-height: 2000px;
    overflow: auto;
    padding: 25px;
}


#podnozje {
    background-color: rgba(56, 61, 66, 0.7);
    color: #000000;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rga(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 60px;
}
/* responzivnost */

img,
video,
iframe,
object {
    max-width: 100%;
}

@media(min-width: 700px) {
    #navigacija li {
        text-align: left;
    }
}

/* layout */

* {
    box-sizing: border-box;
}

.red:after {
    content: "";
    clear: both;
    display: block;
}
/* mobile */

[class*="kolona"] {
    float: left;
    padding: 10px;
    width: 100%;
}
/* tablet*/

@media (min-width:700px) {
    .t-kolona-1 {
        width: 8.33%;
    }
    .t-kolona-2 {
        width: 16.66%;
    }
    .t-kolona-3 {
        width: 25%;
    }
    .t-kolona-4 {
        width: 33.33%;
    }
    .t-kolona-5 {
        width: 41.66%;
    }
    .t-kolona-6 {
        width: 50%;
    }
    .t-kolona-7 {
        width: 58.33%;
    }
    .t-kolona-8 {
        width: 66.66%;
    }
    .t-kolona-9 {
        width: 75%;
    }
    .t-kolona-10 {
        width: 83.33%;
    }
    .t-kolona-11 {
        width: 91.66%;
    }
    .t-kolona-12 {
        width: 100%;
    }
}
/* desktop */

@media (min-width:1100px) {
    .d-kolona-1 {
        width: 8.33%;
    }
    .d-kolona-2 {
        width: 16.66%;
    }
    .d-kolona-3 {
        width: 25%;
    }
    .d-kolona-4 {
        width: 33.33%;
    }
    .d-kolona-5 {
        width: 41.66%;
    }
    .d-kolona-6 {
        width: 50%;
    }
    .d-kolona-7 {
        width: 58.33%;
    }
    .d-kolona-8 {
        width: 66.66%;
    }
    .d-kolona-9 {
        width: 75%;
    }
    .d-kolona-10 {
        width: 83.33%;
    }
    .d-kolona-11 {
        width: 91.66%;
    }
    .d-kolona-12 {
        width: 100%;
    }
}
/*navigacija*/

.red:first-child {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
}




#navigacija ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 190px;
    text-align: right;
}

#navigacija ul li {
    display: inline-block;
    margin-right: 10px;
}

#navigacija ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 7px;
    color: rgb(49, 46, 46);
    transition: all 0.3s linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navigacija ul li a:hover {
    color: rgb(140, 231, 231) ;
}



#sadrzaj-tekst{
    width:1200px;
    margin:auto;
}





#oznaci {
    display: none;
}

@media (max-width:700px) {
    
    #navigacija ul {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: #d8dde2;
        text-align: center;
        padding: 80px 0;
        transition: 0.7s;
    }
    #navigacija ul li {
        display: block;
        margin: 20px 0px;
        text-align: center;
    }
    
    #oznaci:checked~ul {
        right: 0;
    }
}

