body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Logo */
#logo img {
    width: 300px;
    height: 62px;
    margin: auto;
    padding: auto;
    
}

#logo{
    padding-top: 5px;
    padding-bottom: 3px;
    
}

/*content*/
#zaglavlje h1 {
    color: #ffffff;
}

#zaglavlje div{
        height: auto;
}

#zaglavlje h3 {
    color: black;
    margin: 0;
    font-size: 30px;
}
#zaglavlje {
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* header */
#header-tekst{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#headergumb{
    background-color: #4cbb51;
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    padding: 7px;
    color: rgb(49, 46, 46);
    transition: all 0.3s linear;
    font-weight: bold;
}
#headergumb:hover{
    background-color: #64e96a;
    color: #4b5255;
}
#header-slika img{
    height: 290px;
    margin: auto;
}
#header-slika {
    margin-bottom: 5px;
    text-align: right


}

#sadrzaj {
    margin-bottom: 20px;
    min-height: 500px;
    max-height: 2000px;
    overflow: auto;
    padding: 25px;
}
/*Ovdje se nalazi CSS za O nama stranicu*/
/*.......................................*/
/*.......................................*/
/*.......................................*/

/*Naslov na O nama*/
#abtitle{
    color: #000000;
    font-size: 25px;
    text-shadow: 1px 1px 2px #00ffd5;
}
/* glavni tekst*/
#abmaint{
    font-size: 19px;
    margin: auto;

}

/*Dio s logovima i uslugama*/
#glavnicontainer{
    text-align: center;
}
#surgery{
    width: 120px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#dok{
    width: 120px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#labos{
    align-self: center;
}
#micro{
    width: 120px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#tool{
    width: 120px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#maincontainer{
    display: flex;
}
#prvicontainer{
    display: flex;
}
#drugicontainer{
    display: flex;
    flex-direction: column-reverse;
    float: right;
}
/* Završetak CSS-a vezanog za stranicu O nama*/


/* Izbornik */
#izbornik_slide {
    text-align: center;
    display: flex;
}
#izbornik_slide ul {
    list-style-type: none;
    padding: 0px;
}
#izbornik_slide  h4{
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
#izbornik_slide h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}


#izbornik_slide div {
    text-align: left;
    height: 300px;
    background-color: #3761369f;
    border-radius: 10px;
    margin-left: 72px;
    margin-right: 72px;

}
/*footer*/

#podnozje {
    background-color: rgba(56, 61, 66, 0.7);
    color: #000000;
    text-align: center;
    font-size: 14px;
   
    box-shadow: 0 1px 3px rga(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    align-items: center;
}
/* responzivnost */

img,
video,
iframe,
object {
    max-width: 100%;
}



/* layout */

* {
    box-sizing: border-box;
}

.red:after {
    content: "";
    clear: both;
    display: block;
}
/* mobile */

[class*="kolona"] {
    float: left;
    padding: 10px;
    width: 100%;
}

/*navigacija*/

.red:first-child {
    display: flex;
    background-color: white;
    align-items: center;
    top: 0px;
    z-index: 1000;
    position: sticky;
}

#navigacija ul {
    list-style-type: none;
        
    text-align: right;
}
/* Navigacija */

#navigacija ul li {
    display: inline-block;
    margin-right: 10px;
}
#navigacija div {
    position: fixed;
}

#navigacija ul li a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    padding: 7px;
    color: rgb(49, 46, 46);
    transition: all 0.3s linear;
    font-weight: bold;
}

#navigacija ul li a:hover {
    color: rgb(15, 173, 62) ;
}




@media(max-width: 1100px) {
    
    #navigacija{
        width: 30%;
    }
    #login{
        text-align: right;
    }
  
    #navigacija ul {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100%;
        background: #5d6874;
        text-align: center;
        padding: 80px 0;
        transition: 0.7s;

    }
    #navigacija ul li {
        display: block;
        margin: 20px 0px;
        text-align: center;
    }
    #logo{
        width: auto;
    }
  
}
@media(max-width: 700px) {
    
    #zaglavlje{
        display: inline;
        height: auto;
        
    }
    #header-tekst{
        text-align: center;
    }
    #header-slika{
        text-align: center;
    }
    #izbornik_slide {
       /* slozit responzivnost levo desno na mob */
        display: inline-block;
    }   
    
    #izbornik_slide div{
       /* slozit responzivnost levo desno na mob */
        width: 100%;
        margin-left: 0;
    }
    #main_drugi{
        margin-top: 19px;
    }    
    
    #main_treci{
        margin-top: 19px;
    }    
        
    #navigacija ul {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: #d8dde2;
        text-align: center;
        padding: 80px 0;
        transition: 0.7s;
    }
    #navigacija ul li {
        display: block;
        margin: 20px 0px;
        text-align: center;
    }
  
}

/* main button*/
.button-37 {
    background-color: #4bbd7a;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: rgb(7, 6, 6);
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-37 {
        padding: 10px 30px;
    }
  }
/* login button */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(224, 217, 217);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size:15px;

}
.button-85:hover {
    font-size: 16px;
}
  

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(68, 141, 61);
    left: 0;
    top: 0;
    border-radius: 10px;
  }


/* tablet*/

@media (max-width:1100px) {
    .t-kolona-0{
        display: none;
    }
    .t-kolona-1 {
        width: 8.33%;
    }
    .t-kolona-2 {
        width: 16.66%;
    }
    .t-kolona-3 {
        width: 25%;
    }
    .t-kolona-4 {
        width: 33.33%;
    }
    .t-kolona-5 {
        width: 41.66%;
    }
    .t-kolona-6 {
        width: 50%;
    }
    .t-kolona-7 {
        width: 58.33%;
    }
    .t-kolona-8 {
        width: 66.66%;
    }
    .t-kolona-9 {
        width: 75%;
    }
    .t-kolona-10 {
        width: 83.33%;
    }
    .t-kolona-11 {
        width: 91.66%;
    }
    .t-kolona-12 {
        width: 100%;
    }
}
/* desktop */

@media (min-width:1100px) {
    .d-kolona-1 {
        width: 8.33%;
    }
    .d-kolona-2 {
        width: 16.66%;
    }
    .d-kolona-3 {
        width: 25%;
    }
    .d-kolona-4 {
        width: 33.33%;
    }
    .d-kolona-5 {
        width: 41.66%;
    }
    .d-kolona-6 {
        width: 50%;
    }
    .d-kolona-7 {
        width: 58.33%;
    }
    .d-kolona-8 {
        width: 66.66%;
    }
    .d-kolona-9 {
        width: 75%;
    }
    .d-kolona-10 {
        width: 83.33%;
    }
    .d-kolona-11 {
        width: 91.66%;
    }
    .d-kolona-12 {
        width: 100%;
    }
}