
body{
  background-color:  #436855;
  margin:0;
}
.form{
  width:400px;
  height:482px;
  background:#ffffff;
  border-radius:8px;
  margin:calc(50vh - 241px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative
}
h2 {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  font-size: 27px;
}
h2:before{
  content: "";
  position: absolute;
  width: 34%;
  height: 1px;
  bottom: 0;
  left: 0%;
  border-bottom: 3px solid #3f884f;
}

input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid rgb(117, 114, 114);;
}
input:focus{
  border-bottom:2px solid #28913f;
}
input::placeholder {
  font-size: 14px;
}
p:before{
  
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:17px;
  color:#000000;
  font-weight: 500;
}


button{

  width: 100%;
  height: 45px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #459156;
  border-radius: 6px;
  color:#ffffff;
  cursor:pointer;
  transition:all .3s;
}
button:hover{
  background:#0f6421;
  color:#fff;
}

div{
  text-align: center;
  margin-top: 10px;
  color:rgb(49, 49, 49);
  margin: 20px;
  font-size: 16px;
}
div .text{
  color: rgb(39, 38, 38);
  font-size: 14px;
}
div a.text{
  color:  #0a7221;
  text-decoration: none;
}
div a:hover{
  text-decoration: underline;
}

