body{
	background-color: gray;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Fira Sans', sans-serif;
}
#mobile_nav{
	display: none;
}


.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;
}

	@media (max-width: 1024px) {
		.container{
			padding-left: 64px;
			padding-right: 64px;
		}
		
		
	}

	@media (max-width: 767px) {
		.container{padding-left: 32px;
		padding-right: 32px;}

	}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);

	
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #12002F;
	padding-top: 120px;
	transition: 0.4s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: #1f103F;

	color: #FFF;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #24104f;
}


@media (min-width: 768px) {
	#mobile_nav{
		display: contents;
	}
	.hamburger {
		display: none;
	}
	

}


